<html>
	<head>
		<title>USB Web Cam Web UI</title>
		<!-- jQuery -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
	    	<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="five columns" style="margin-top: 25px">
					<div style="text-align:center"><strong>Webcam Web UI</strong></div>
					<hr/>
					<img id="bg" src=""/>
				</div>
				<div class="three columns">
					<div id="myTable">
					</div>
				</div>
			</div>

		</div>
			<script>
			// Grabs log.csv and chucks it onto a table
			$.get("{{ url_for('static', filename='log.csv') }}", function(data) {
				var html = '<table class="table table-bordered">';
				html += '<tr><td>Person detected at</tr></td>'
				var rows = data.split("\n");
				rows.forEach( function getvalues(ourrow) {
					html += "<tr>";
					console.log(ourrow);
					var columns = ourrow.split(",");
					if (columns[0] != ''){
						html += "<td>" + columns[0] + "</td>";
					}
					html += "</tr>";
				})
				html += "</table>";
				$('#myTable').append(html);

				document.getElementById('bg').src='/video';
			});


		</script>
	</body>
</html>
